<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztx.shares.mapper.CommonMapper">
    <resultMap id="Company" type="com.ztx.shares.pojo.Company">
        <result column="id" property="id"></result>
        <result column="ts_code" property="tsCode"></result>
        <result column="exchange" property="exchange"></result>
        <result column="chairman" property="chairman"></result>
        <result column="manager" property="manager"></result>
        <result column="secretary" property="secretary"></result>
        <result column="reg_capital" property="regCapital"></result>
        <result column="setup_date" property="setupDate"></result>
        <result column="province" property="province"></result>
        <result column="city" property="city"></result>
        <result column="website" property="website"></result>
        <result column="email" property="email"></result>
        <result column="employees" property="employees"></result>
    </resultMap>

    <resultMap id="MStock" type="com.ztx.shares.pojo.MStock">
        <result column="id" property="id"></result>
        <result column="ts_code" property="tsCode"></result>
        <result column="symbol" property="symbol"></result>
        <result column="name" property="name"></result>
        <result column="area" property="area"></result>
        <result column="industry" property="industry"></result>
        <result column="fullname" property="fullname"></result>
        <result column="enname" property="enname"></result>
        <result column="market" property="market"></result>
        <result column="exchange" property="exchange"></result>
        <result column="curr_type" property="currType"></result>
        <result column="list_date" property="listDate"></result>
        <result column="is_hs" property="isHs"></result>
    </resultMap>

    <resultMap id="Daily" type="com.ztx.shares.pojo.Daily">
        <result column="id" property="id"></result>
        <result column="ts_code" property="tsCode"></result>
        <result column="trade_date" property="tradeDate"></result>
        <result column="open" property="open"></result>
        <result column="high" property="high"></result>
        <result column="low" property="low"></result>
        <result column="close" property="close"></result>
        <result column="pre_close" property="preClose"></result>
        <result column="change" property="change"></result>
        <result column="pct_chg" property="pctChg"></result>
        <result column="vol" property="vol"></result>
        <result column="amount" property="amount"></result>
    </resultMap>

    <resultMap id="Express" type="com.ztx.shares.pojo.Express">
        <result column="id" property="id"></result>
        <result column="ts_code" property="tsCode"></result>
        <result column="ann_date" property="annDate"></result>
        <result column="end_date" property="endDate"></result>
        <result column="revenue" property="revenue"></result>
        <result column="operate_profit" property="operateProfit"></result>
        <result column="total_profit" property="totalProfit"></result>
        <result column="n_income" property="nIncome"></result>
        <result column="total_assets" property="totalAssets"></result>
        <result column="total_hldr_eqy_exc_min_int" property="theemi"></result>
        <result column="diluted_eps" property="dilutedEps"></result>
        <result column="diluted_roe" property="dilutedRoe"></result>
    </resultMap>

    <resultMap id="Monthly" type="com.ztx.shares.pojo.Monthly">
        <result column="id" property="id"></result>
        <result column="ts_code" property="tsCode"></result>
        <result column="trade_date" property="tradeDate"></result>
        <result column="open" property="open"></result>
        <result column="high" property="high"></result>
        <result column="low" property="low"></result>
        <result column="close" property="close"></result>
        <result column="pre_close" property="preClose"></result>
        <result column="change" property="change"></result>
        <result column="pct_chg" property="pctChg"></result>
        <result column="vol" property="vol"></result>
        <result column="amount" property="amount"></result>
    </resultMap>

    <resultMap id="Weekly" type="com.ztx.shares.pojo.Weekly">
        <result column="id" property="id"></result>
        <result column="ts_code" property="tsCode"></result>
        <result column="trade_date" property="tradeDate"></result>
        <result column="open" property="open"></result>
        <result column="high" property="high"></result>
        <result column="low" property="low"></result>
        <result column="close" property="close"></result>
        <result column="pre_close" property="preClose"></result>
        <result column="change" property="change"></result>
        <result column="pct_chg" property="pctChg"></result>
        <result column="vol" property="vol"></result>
        <result column="amount" property="amount"></result>
    </resultMap>

    <resultMap id="IndexDaily" type="com.ztx.shares.pojo.IndexDaily">
        <result column="id" property="id"></result>
        <result column="ts_code" property="tsCode"></result>
        <result column="trade_date" property="tradeDate"></result>
        <result column="open" property="open"></result>
        <result column="high" property="high"></result>
        <result column="low" property="low"></result>
        <result column="close" property="close"></result>
        <result column="pre_close" property="preClose"></result>
        <result column="change" property="change"></result>
        <result column="pct_chg" property="pctChg"></result>
        <result column="vol" property="vol"></result>
        <result column="amount" property="amount"></result>
    </resultMap>
</mapper>