<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztx.shares.mapper.SearchMapper">
    
    <select id="selectAllCompany" resultMap="com.ztx.shares.mapper.CommonMapper.Company">
        select * from stock_company;
    </select>

    <select id="selectCompanyById" resultMap="com.ztx.shares.mapper.CommonMapper.Company">
        select * from stock_company where id = #{id};
    </select>
    
    <select id="selectCompanyByCode" resultMap="com.ztx.shares.mapper.CommonMapper.Company">
        select * from stock_company where code = #{code};
    </select>

    <select id="selectAllExpress" resultMap="com.ztx.shares.mapper.CommonMapper.Express">
        select * from express;
    </select>

    <select id="selectExpressById" resultMap="com.ztx.shares.mapper.CommonMapper.Express">
        select * from express where id = #{id};
    </select>

    <select id="selectExpressByCode" resultMap="com.ztx.shares.mapper.CommonMapper.Express">
        select * from express where ts_code = #{code};
    </select>

    <select id="selectDailyByDate" resultMap="com.ztx.shares.mapper.CommonMapper.Daily">
        select * from daily where trade_date = #{day};
    </select>

    <select id="selectDailyBetweenDate" resultMap="com.ztx.shares.mapper.CommonMapper.Daily">
        select * from daily where trade_date >= #{startDay} and trade_date &lt;= #{endDay};
    </select>

    <select id="selectDailyByCodeAndDate" resultMap="com.ztx.shares.mapper.CommonMapper.Daily">
        select * from daily where ts_code = #{code} and trade_date = #{day};
    </select>

    <select id="selectDailyByCodeBetweenDate" resultMap="com.ztx.shares.mapper.CommonMapper.Daily">
        select * from daily where ts_code = #{code} and trade_date >= #{startDay} and trade_date &lt;= #{endDay};
    </select>

    <select id="selectAllStock" resultMap="com.ztx.shares.mapper.CommonMapper.MStock">
        select * from stock;
    </select>
    
    <select id="selectStockById" resultMap="com.ztx.shares.mapper.CommonMapper.MStock">
        select * from stock where id = #{id};
    </select>
    
    <select id="selectStockByCode" resultMap="com.ztx.shares.mapper.CommonMapper.MStock">
        select * from stock where ts_code = #{code};
    </select>

    <select id="getPctChgById" resultType="java.lang.Double">
        select
        (
        ((select close from daily where ts_code=#{code} and
        trade_date=(select max(trade_date) from daily where ts_code=#{code} and trade_date &lt; 20200701))
        -
        (select close from daily where ts_code=#{code} and
        trade_date=(select min(trade_date) from daily where ts_code=#{code} and trade_date > 20200101)))
        /
        (select close from daily where ts_code=#{code} and
        trade_date=(select min(trade_date) from daily where ts_code=#{code} and trade_date > 20200101))
        )
        as pct_chg
    </select>

    <select id="getUpById" resultType="java.lang.Integer">
        select count(*) from daily
        where ts_code=#{code} and trade_date &lt; 20200701 and trade_date > 20200101 and pct_chg>=0;
    </select>

    <select id="getDownById" resultType="java.lang.Integer">
        select count(*) from daily
        where ts_code=#{code} and trade_date &lt; 20200701 and trade_date > 20200101 and pct_chg &lt; 0;
    </select>

    <select id="getProfitById" resultType="java.lang.Double">
        select n_income from express
        where ts_code=#{code} limit 1;
    </select>

    <select id="getProfitRateById" resultType="java.lang.Double">
        select diluted_roe from express
        where ts_code=#{code} limit 1;
    </select>

    <select id="selectWeeklyByCode" resultMap="com.ztx.shares.mapper.CommonMapper.Weekly">
        select * from weekly where ts_code = #{code};
    </select>

    <select id="selectMonthlyByCode" resultMap="com.ztx.shares.mapper.CommonMapper.Monthly">
        select * from monthly where ts_code = #{code};
    </select>

</mapper>